@import "~@angular/material/theming";
:host {
    mat-nav-list {
      overflow-x: hidden;
      [mat-list-item] {
        min-width: 10em;
      }
    }
    .my-class-active{
      background: map-get($mat-grey, 400);
      color: white;
    }
  }
  